USE [master]
GO
/****** Object:  Database [Bookstore]    Script Date: 12/4/2021 7:53:06 AM ******/
CREATE DATABASE [Bookstore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bookstore', FILENAME = N'D:\Work\AppDev\Bookstore\QLHS\DB\Bookstore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bookstore_log', FILENAME = N'D:\Work\AppDev\Bookstore\QLHS\DB\Bookstore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bookstore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bookstore]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 12/4/2021 7:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[maCaTruc] [nchar](12) NOT NULL,
	[ngayLamViec] [date] NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[maCaTruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_CaLamViec]    Script Date: 12/4/2021 7:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_CaLamViec](
	[maCaTruc] [nchar](12) NOT NULL,
	[caSangChieuToi] [nchar](10) NULL,
	[maNV] [nchar](12) NOT NULL,
	[gioDongCa] [time](7) NULL,
	[gioMoCa] [time](7) NULL,
 CONSTRAINT [PK_CT_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[maCaTruc] ASC,
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HD]    Script Date: 12/4/2021 7:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HD](
	[maHD] [nchar](12) NOT NULL,
	[maSP] [nchar](12) NOT NULL,
	[soLuong] [int] NULL,
	[donGia] [int] NULL,
	[thanhTien] [int] NULL,
 CONSTRAINT [PK_CT_HD] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSach]    Script Date: 12/4/2021 7:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSach](
	[maSP] [nchar](12) NOT NULL,
	[tenSP] [nvarchar](50) NULL,
	[nhaXuatBan] [nvarchar](50) NULL,
	[ngayXuatBan] [date] NULL,
	[soLuongTon] [int] NULL,
	[tacGia] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanhMucSach] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucVanPhongPham]    Script Date: 12/4/2021 7:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucVanPhongPham](
	[maSP] [nchar](12) NOT NULL,
	[tenSP] [nvarchar](50) NULL,
	[nhaCC] [nvarchar](50) NULL,
	[soLuongTon] [int] NULL,
 CONSTRAINT [PK_DanhMucVanPhongPham] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/4/2021 7:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [nchar](12) NOT NULL,
	[maNV] [nchar](12) NOT NULL,
	[ngayLapHD] [date] NULL,
	[tongTien] [int] NULL,
	[maKH] [nchar](15) NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/4/2021 7:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [nchar](15) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[sdt] [nchar](10) NULL,
	[gioiTinh] [nchar](3) NULL,
	[email] [nchar](50) NULL,
	[ngaySinh] [date] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/4/2021 7:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nchar](12) NOT NULL,
	[tenNV] [nvarchar](50) NULL,
	[viTri] [nchar](10) NULL,
	[sdt] [nchar](10) NULL,
	[gioiTinh] [nchar](3) NULL,
	[email] [nchar](50) NULL,
	[matkhau] [nchar](32) NULL,
	[ngaysinh] [date] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12/4/2021 7:53:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSP] [nchar](12) NOT NULL,
	[tenSP] [nvarchar](50) NULL,
	[hangMuc] [nchar](20) NULL,
	[donGia] [int] NULL,
	[donVi] [nchar](10) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[maSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_CaLamViec]  WITH CHECK ADD  CONSTRAINT [FK_CT_CaLamViec_CaLamViec] FOREIGN KEY([maCaTruc])
REFERENCES [dbo].[CaLamViec] ([maCaTruc])
GO
ALTER TABLE [dbo].[CT_CaLamViec] CHECK CONSTRAINT [FK_CT_CaLamViec_CaLamViec]
GO
ALTER TABLE [dbo].[CT_CaLamViec]  WITH CHECK ADD  CONSTRAINT [FK_CT_CaLamViec_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[CT_CaLamViec] CHECK CONSTRAINT [FK_CT_CaLamViec_NhanVien]
GO
ALTER TABLE [dbo].[CT_HD]  WITH CHECK ADD  CONSTRAINT [FK_CT_HD_HoaDon] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[CT_HD] CHECK CONSTRAINT [FK_CT_HD_HoaDon]
GO
ALTER TABLE [dbo].[CT_HD]  WITH NOCHECK ADD  CONSTRAINT [FK_CT_HD_SanPham] FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[CT_HD] CHECK CONSTRAINT [FK_CT_HD_SanPham]
GO
ALTER TABLE [dbo].[DanhMucSach]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucSach_SanPham] FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[DanhMucSach] CHECK CONSTRAINT [FK_DanhMucSach_SanPham]
GO
ALTER TABLE [dbo].[DanhMucVanPhongPham]  WITH CHECK ADD  CONSTRAINT [FK_DanhMucVanPhongPham_SanPham] FOREIGN KEY([maSP])
REFERENCES [dbo].[SanPham] ([maSP])
GO
ALTER TABLE [dbo].[DanhMucVanPhongPham] CHECK CONSTRAINT [FK_DanhMucVanPhongPham_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
USE [master]
GO
